body{
    margin: 0;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

.container{
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

h3{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

label{
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    padding: 8px;
    border: 3px solid cadetblue;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}





button{
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer  ;
    font-weight: 700;
    transition: background-color 0.5s ease-in;
    
}
button:hover{
    background-color: rgb(180, 192, 23);
    color: brown;
    border: 1px solid red;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(135, 36, 36, 0.5);
}

#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}